<p id="notice"><%= notice %></p>

<p>
  <strong>Decription:</strong>
  <%= @about_project.decription %>
</p>

<%= link_to 'Edit', edit_about_project_path(@about_project) %> |
<%= link_to 'Back', about_projects_path %>
